body{
  font-family: Poppins;
  background-color: black;
}


/* Header */
.navbar{
  margin-bottom: 50px;
}
#header{
  background-color: black;
  margin: 70px;
  margin-bottom: 100px;
}
.navItems{
  margin-left: 46%;
}
.navbar-icon{
  height: 33px;
  width: 33px;
}
.navFont{
  color: white
}
a:hover{
  color: pink;
}
.dropdown-menu{
  background-color: black;
}
.curr-select{
  color: pink;
}
/* Header */


/* Loans */

#loans{
  margin: 11%;
}
.fa-solid{
  font-size: 2.5rem;
  margin: 20px;
}
.loan-item{
  background-color: white;
  border-radius: 50px;
  padding: 3%;
  margin: 3%;
  cursor: pointer;
}
i:hover{
    color: gray;
}
/* Loans */

/* Footer */
#footer{
    padding: 7% 15%;
    text-align: center;
    color: black;
    background-color: white
}
.social-button{
    font-size: 1.5rem;
    margin : 20px 10px;
}
/* Footer */
