body{
  font-family: Poppins;
  background-color: black;
}


/* Header */

#heading{

}
.navbar{
  margin-bottom: 50px;
}
.header{
  background-color: black;
  margin: 70px;
  margin-bottom: 100px;
}
.navItems{
  margin-left: 46%;
}
.navbar-icon{
  height: 33px;
  width: 33px;
}
.navFont{
  color: white
}
a:hover{
  color: pink;
}
.dropdown-menu{
  background-color: black;
}
h1{
  color: white;
  text-align: center;
  font-weight: bold;
}
.main-head-container{
  margin-top: 110px;
}
.sub-container{
  margin-top: 50px;
}
.last-container{
  margin-top: 100px;
}
.titleEE{
  background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right,
      orange,pink, orange, violet);
    -webkit-background-image: linear-gradient(to right,
      orange, pink,orange, violet);
}
/* Header */



/* Features */
.features{
  background-color: white;
  text-align: center;
  color: black;
  padding: 0 36px 0 36px;
}
i:hover{
    color: gray;
}
.fa-solid{
    color: black;
    font-size: 3rem;
    padding: 7%;
}
.feat{
  color: black;
  border-radius: 5px;
  padding: 100px;
}
.feat2{
  color: black;
  border-radius: 5px;
  padding: 0 180px 100px 211px;
}
.feat3{
  color: black;
  border-radius: 5px;
  padding: 0 209px 100px 1px;
}
/* Features */


/* Review */
.headi{
    font-family: Ubuntu;
    line-height: 1.5;
    width: 60%;
    margin: 0 0 0 20%;
}
#testimonials {
    padding: 3% 15%;
    text-align: center;
    background-color: black;
    color: #fff;
}
.testimonial-card{
    background-color: #fff;
    color: black;
    margin: 60px;
    width: 50%;
    text-align: center;
    padding: 5% 0;
    border-radius: 8%;
}
.testimonial-card:hover{
    background-color: #FEF7DC;
}
.butn{
    background-color: #fff;
}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
/* Review */


/* Footer */
#footer{
    padding: 7% 15%;
    text-align: center;
    color: black;
    background-color: white
}
.social-button{
    font-size: 1.5rem;
    margin : 20px 10px;
}
/* Footer */
