body{
  font-family: Poppins;
  background-color: black;
}


/* Header */
.navbar{
  margin-bottom: 50px;
}
#header{
  background-color: black;
  margin: 70px;
  margin-bottom: 100px;
}
.navItems{
  margin-left: 46%;
}
.navbar-icon{
  height: 33px;
  width: 33px;
}
.navFont{
  color: white
}
a:hover{
  color: pink;
}
.dropdown-menu{
  background-color: black;
}
.curr-select{
  color: pink;
}
/* Header */
